.perfumeList {
    padding: 40px;
    color: blanchedalmond;
    font-family: 'maison';
  }
  
  .perfumeList h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 10px;
  }
  
.perfumeList h3{
    text-transform: uppercase;
    border-top: 1px solid blanchedalmond;
    padding-top: 5px;
    cursor: pointer;
}

.perfumeList h3:hover{
  text-decoration: underline solid 2px;
  padding-top: 6px;
}


  .brandItem a{
    transition: color 0.2s ease;
    text-decoration: none;
    color: blanchedalmond;
  }

  .brandItem a:hover{
    text-decoration: underline;
  }

  .perfumes{
    display: flex;
    justify-content: center;
    font-family: 'maison';
    text-transform: uppercase;
    color: bisque;
  }

  /* PENTRU LISTA DE PARFUMURI */
  /* TODO: CAND INTRU LA UN BRAND DE PARFUMURI SI APAS SI PE LISTA DE BRANDURI
  SA FAC CA BRANDS SA FIE PESTE CARDURILE MELE DE PE PAGINA CURENTA */
  .gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }

  button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .perfumeCard {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 2px rgba(186,102,218,1), 8px 8px 0px 0px rgba(91,20,34,1);
    font-family: 'maison';
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 16px;
    margin: 5px 5px 5px 5px;
  }

  .perfumeCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  }

  .perfumeCard h4 {
    font-size: 1rem;
    margin: 6px;
    color: #333;
  }

  .perfumeCard p {
    margin: 4px;
    color: #777;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .perfumeCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
  }
  
  .perfumeCard button {
    margin-top: 10px;
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 1.5px;
    cursor: pointer;
    font-family: 'maison';
    transition: background-color 0.3s ease;
  }

  .perfumeCard button:hover {
    background-color: #660066;
  }
  
.perfumeCard select{
  padding: 2.5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'maison';
}

/* ALL BRANDS */
#sort-options{
  border-radius: 15px;
  font-family: 'maison';
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
}