.checkout-wrapper {
    padding: 2rem;
  }
  
  .checkout-container {
    display: flex;
    font-family: 'maison';
    justify-content: space-between;
  }
  
  .checkout-shipping-info,
  .checkout-order-summary {
    background: #f9f9f9;
    padding: 1.3rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    box-shadow: #ffebcd 5px 5px, #c7b8a3 10px 10px, #7c7872 15px 15px, #444 18px 18px;
}


  .checkout-shipping-info h2{
    text-align: center;
    background-color: #444;
    border-radius: 10px;
    color: antiquewhite;
    padding: 8px;
  }

  .checkout-order-summary h3{
    text-align: center;
    background-color:#444;
    padding: 8px;
    color: antiquewhite;
    border-radius: 10px;
  }
  
  .checkout-shipping-info label {
    font-size: 0.9rem;
  }
  
  .checkout-shipping-info input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: none;
    border-radius: 6px;
  }
  
  .checkout-btn {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .checkout-btn:hover {
    background-color: #444;
  }

  


  