.wishlistOverlay {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .wishlistOverlay p{
    text-align: center;
  }
  
  .wishlistContainer {
    display: flex;
    flex-direction: column;
    font-family: 'maison';
    background: #fff;
    width: 300px;
    max-width: 90%;
    height: 100%;
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    animation: slideIn 0.4s ease forwards;
    gap: 1rem;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .wishlistItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    border-radius: 8px;
  }
  .wishlistItem img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .close-btn{
      background: none;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      align-self: flex-end;
      cursor: pointer;
      margin-bottom: 10px;
}

.wishlistItem p, .wishlistItem h4{
  margin: 0;
  font-size: 0.8rem;
}

.stopScroll{
  overflow: hidden;
}

.wishlist-btns{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.move-to-cart-btn{
  margin-top: 5px;
  padding: 5px 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s;
  font-family: inherit;
  opacity: 60%;

}

.delete-item-btn{
  margin-top: 5px;
  padding: 5px 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s;
  font-family: inherit;
  opacity: 60%;
}

.move-to-cart-btn:hover, .delete-item-btn:hover{
  opacity: 100%;
}
